$color : (
    'mgreen':#009CA8,
    'myellow':#FBF796,
    'mpink':#EB5F86,
    'mblue':#1E5289,
    'mlblue':#C3E3E8
);
@each $k,$v in $color{
    .#{$k}{
        color: $v;
    }
}
$mgreen:#009CA8;
$myellow:#FBF796;
$mpink:#EB5F86;
$mblue:#1E5289;
$mlblue:#C3E3E8