@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Noto+Sans+TC:wght@300;400;500;700;900&family=Quicksand:wght@300;400;500;700&display=swap');
$fontSizes: (
  //  '.key' : value,
  ".max":64px,
  "h1": 32px,
  "h2": 28px,
  "h3": 20px,
  "span": 16px,
  "div": 16px,
  "p" : 16px,
  "li" : 16px,
  "a":16px
); // map
@each $k,$v in $fontSizes{
    #{$k}{
        font-size: $v;
        color: $mblue;
    }
}
a:hover{
  color: $mgreen;
}