.art_main {
    position: relative;
    width: 95%;
    height: 100vh;
    padding-left: 80px;
    overflow: hidden;
    display: flex;

    @include t() {
        width: 100%;
        padding: 0;
    }
    @include m(){
        height:calc(100vh - 60px) ;
        margin-bottom: 70px;
    }
    .title {
        height: 100vh;

    }

    .circle {
        position: absolute;
        right: 0;
        transform: translateX(40%);
        width: 100vw;
        height: 100vw;
        border-radius: 50%;
        background: radial-gradient($mlblue 20%, transparent 21%, transparent 79%, $mlblue 80%);
        background-size: 1em 1em;
        background-color: #ffffff;
        z-index: -99;

    }

    .block {
        position: relative;
        padding-left: 3rem;
        width: 40%;

        @include t() {
            width: 50%;
        }

        .btn {
            text-align: center;
            padding-top: 5%;
            position: relative;
            z-index: 2;
            @include t(){
                padding-top:10%;
            }
            button {
                width: 50px;
                height: 50px;
                margin: 0.5rem;
                cursor: pointer;
                background-color: #ffffff;
                border: none;
                border-radius: 50%;
                transition: .3s;

                &:hover {
                    background-color: $mlblue;
                }
            }
        }

        .artinfo {
            position: relative;
            z-index: 2;
            height: 70vh;
            border-radius: 20px;
            padding: 0.5rem;
            background-color: #fff;
            @include shadowlb($color: $mpink);
            @include t(){
                height: 60vh;
            }
            @include m(){
                position: absolute;
                bottom: 0;
                left: 0;
                height: 35vh;
                width: 100vw;
                box-shadow: none;
                border-radius: 0px;
            }
            .container {
                width: 100%;
                padding: 2rem 1rem;
                height: 67vh;
                overflow-x: hidden;
                overflow-y: scroll;
                @include t(){
                    height: 57vh;
                }
                @include m(){
                    height: 32vh;
                    padding: 1rem;
                }
                &::-webkit-scrollbar {
                    width: 7px;
                    height: 7px;
                    background-color: #fff;
                    border-radius: 4px;
                }

                &::-webkit-scrollbar-track {
                    background: #fff;
                    border-radius: 4px;
                }

                &::-webkit-scrollbar-thumb {
                    background: $mpink;
                    border-radius: 4px;
                }

            }

        }




        .artwarp {
            position: fixed;
            top: 50%;
            right: -90vw;
            width: 100vw;

            @include set (1600px) {
                right: -100vw;
            }

            @include set (1200px) {
                right: -110vw;
            }

            @include set (900px) {
                right: -120vw;
            }
            @include m(){
                top: 40%;
                right: -130vw;
            }

            ul {
                display: flex;
                justify-content: center;
                align-items: center;

                li {
                    position: absolute;
                    transform-origin: 25vw;
                    left: 0;
                    transform: rotate(calc(360deg/6 * var(--i)));
                    transition: .4s;

                    .art {
                        transform: translateX(55vw) rotate(calc(360deg / -6 * var(--i)));
                        cursor: all-scroll;

                    }
                }
            }

        }
    }
}