template {
    position: relative;
}
.currexhi_main {
    width: 95%;
    margin-left: auto;
    display: flex;
    overflow: hidden;
}
.container {
    width: calc(100% - 64px);
    .exb_search {
        margin: auto;
        margin-top: 2%;
        text-align: end;
        width: 83.33%;
        .spec_title {
            display: none;
            }
        }
    .exhi_section {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 6% 12% 0 0;
        position: relative;
        .curr_img_deco {
            background: linear-gradient(-45deg, #EB5F8699 20%, transparent 20% 80%, #EB5F8699 80% 100%), linear-gradient(45deg, #EB5F8699 20%, transparent 20% 80%, #EB5F8699 80% 100%), linear-gradient(-45deg, #ffffff 33%, transparent 33% 66%, #ffffff 66%), linear-gradient(45deg, transparent 33%, #EB5F86 33% 66%, transparent 66%);
            background-size: 1em 1em;
            background-color: transparent;
            border-radius: 4px;
            opacity: 1;
            width: 3em;
            height: 9em;
            transform: rotate(45deg);
            position: absolute;
            left: 1.5%;
            top: -13%;
            z-index: 1;
        }
        .curr_exhi_img {
            width: 50%;
            margin: 1%;   
            overflow: hidden;
            position: relative;
            img {
                width: 100%;
                object-fit: cover;
                vertical-align: bottom;
                border-radius: 4px;
            }
            
        }
        .exhi_desc {
            padding: 5%;
            line-height: 2em;
            background-color: #fff;
            width: 50%;
            border: 3px dashed #1E5289;
            border-radius: 4px;
            margin: 1%;
            position: relative;
            z-index: 2;
            .curr_back_deco {
                background: linear-gradient(45deg, #1E5289 20%, transparent 20%, transparent 80%, #1E5289 80%, #1E5289 100%), linear-gradient(135deg, #1E5289 20%, transparent 20%, transparent 80%, #1E5289 80%, #1E5289 100%);
                background-size: 1em 1em;
                background-color: transparent;
                opacity: 1;
                width: 2em;
                height: 2em;
                transform: rotate(45deg);
                position: absolute;
                bottom: -47%;
                left: -17%;
            }
            .curr_exhi_desc_deco {
                background: linear-gradient(45deg, #FBF796 0%, #FBF796 5%, transparent 5%, transparent 10%, #FBF796 10%, #FBF796 15%, transparent 15%, transparent 20%, #FBF796 20%, #FBF796 25%, transparent 25%, transparent 30%, #FBF796 30%, #FBF796 35%, transparent 35%, transparent 40%, #FBF796 40%, #FBF796 45%, transparent 45%, transparent 50%, #FBF796 50%, #FBF796 55%, transparent 55%, transparent 60%, #FBF796 60%, #FBF796 65%, transparent 65%, transparent 70%, #FBF796 70%, #FBF796 75%, transparent 70%, transparent 80%, #FBF796 80%, #FBF796 85%, transparent 85%, transparent 90%, #FBF796 90%, #FBF796 95%, transparent 95%), linear-gradient(135deg, #FBF796 0%, #FBF796 5%, transparent 5%, transparent 10%, #FBF796 10%, #FBF796 15%, transparent 15%, transparent 20%, #FBF796 20%, #FBF796 25%, transparent 25%, transparent 30%, #FBF796 30%, #FBF796 35%, transparent 35%, transparent 40%, #FBF796 40%, #FBF796 45%, transparent 45%, transparent 50%, #FBF796 50%, #FBF796 55%, transparent 55%, transparent 60%, #FBF796 60%, #FBF796 65%, transparent 65%, transparent 70%, #FBF796 70%, #FBF796 75%, transparent 70%, transparent 80%, #FBF796 80%, #FBF796 85%, transparent 85%, transparent 90%, #FBF796 90%, #FBF796 95%, transparent 95%);
                background-size: 10em 10em;
                background-color: #009CA8;
                opacity: 1;
                width: 12em;
                height: 3em;
                border-radius: 4px;
                transform: rotate(45deg);
                position: absolute;
                right: -12%;
                top: 1%;
            }
            .buy_tickbtn_deco {
                background: radial-gradient(circle, #009CA8 25%, transparent 26%);
                background-size: 1em 1em;
                background-color: transparent;
                opacity: 1;
                width: 2em;
                height: 2em;
                transform: rotate(45deg);
                position: absolute;
                left: 90%;
                bottom: -28%;
            }
        }
        .exhi_desc_bgc {    
            width: 48%;
            height: 59vh;
            background-color: #1E5289;
            border-radius: 4px;
            position: absolute;
            right: -1%;
            top: 4%;
        }
    }
}






// template {
//     position: relative;
// }
// .img_deco {
//     background: radial-gradient(circle, transparent 14%, #009CA8 15%, #009CA8 25%, transparent 26%);
//     background-size: 1em 1em;
//     background-color: transparent;
//     opacity: 1;
//     width: 4em;
//     height: 9em;
//     transform: rotate(45deg);
//     position: absolute;
//     left: 6%;
//     z-index: 3;
// }

// // .exhi_section {
// //     max-width: 1200px;
// //     margin: 5% auto;
// //     width: 85%;
// //     display: flex;
// //     position: relative;
// // }
// .exhi_img {
//     width: 50%;
//     margin: 1%;   
//     overflow: hidden;
// }
// .exhi_img img {
//     width: 100%;
//     object-fit: cover;
//     vertical-align: bottom;
//     border-radius: 4px;
// }
// .exhi_desc {
//     padding: 6%;
//     line-height: 2em;
//     background-color: #fff;
//     width: 50%;
//     border: 3px dashed #EB5F86;
//     border-radius: 4px;
//     margin: 1%;
//     position: relative;
//     z-index: 1;
// }
// .exhi_desc .bgc_deco_a {
//     background: radial-gradient(circle, #1E5289 25%, transparent 26%);
//     background-size: 1em 1em;
//     background-color: transparent;
//     opacity: 1;
//     width: 2em;
//     height: 2em;
//     position: absolute;
//     left: -44%;
//     bottom: -22%;
// }
// .exhi_desc .bgc_deco_b {
//     background: radial-gradient(circle, #1E5289 25%, transparent 26%);
//     background-size: 1em 1em;
//     background-color: transparent;
//     opacity: 1;
//     width: 2em;
//     height: 2em;
//     position: absolute;
//     left: -31%;
//     bottom: -22%;
// }
// .exhi_desc .bgc_deco_c {
//     background: radial-gradient(circle, #1E5289 25%, transparent 26%);
//     background-size: 1em 1em;
//     background-color: transparent;
//     opacity: 1;
//     width: 2em;
//     height: 2em;
//     position: absolute;
//     left: -37.5%;
//     bottom: -13%;
// }
// .exhi_desc .bgc_deco_d {
//     background: radial-gradient(circle, #1E5289 25%, transparent 26%);
//     background-size: 1em 1em;
//     background-color: transparent;
//     opacity: 1;
//     width: 2em;
//     height: 2em;
//     position: absolute;
//     left: -37.5%;
//     bottom: -30%;
// }
// .exhi_desc .back_deco {
//     background: radial-gradient(circle, #EB5F86 25%, transparent 26%);
//     background-size: 1em 1em;
//     background-color: transparent;
//     opacity: 1;
//     width: 2em;
//     height: 2em;
//     transform: rotate(45deg);
//     position: absolute;
//     left: -20.5%;
//     bottom: -27%;
// }
// .exhi_desc .exhi_desc_deco {
//     background: radial-gradient(circle at top right, transparent 10%, #EB5F86 10%, #EB5F86 20%, transparent 21%), radial-gradient(circle at left bottom, transparent 10%, #EB5F86 10%, #EB5F86 20%, transparent 21%), radial-gradient(circle at top left, transparent 10%, #EB5F86 10%, #EB5F86 20%, transparent 21%), radial-gradient(circle at right bottom, transparent 10%, #EB5F86 10%, #EB5F86 20%, transparent 21%), radial-gradient(circle at center, #EB5F86 30%, transparent 31%);
//     background-size: 2em 2em;
//     background-color: #FBF796;
//     opacity: 1;
//     width: 12em;
//     height: 3em;
//     border-radius: 4px;
//     transform: rotate(45deg);
//     position: absolute;
//     right: -12%;
//     top: 1%;
// }
// .exhi_desc_bgc {    
//     width: 40vw;
//     height: 28vw;
//     background-color: #1E5289;
//     border-radius: 4px;
//     position: absolute;
//     right: -0.1%;
//     top: 5.5%;
//     z-index: 0;
// }
// .buy_tickbtn_deco {
//     background: radial-gradient(circle, #009CA8 25%, transparent 26%);
//     background-size: 1em 1em;
//     background-color: transparent;
//     opacity: 1;
//     width: 2em;
//     height: 2em;
//     transform: rotate(45deg);
//     position: absolute;
//     left: 82%;
//     bottom: -31%;
// }