.pinkBtn{
    display: block;
}

form  {
    max-width: 1000px;
    max-height: 560px;
    border: 3px solid #009CA8;
    border-radius: 8px;
    // position:relative;
    margin: 130px auto;
    padding: 50px 100px;
    text-align: center;
    .memlogin_title {
        padding-bottom: 8px;
    }
    .memlogin_acti #memId {
       
    }
    .memlogin_acti{
        max-width: 160px;
        margin: auto;
    }
    .memlogin_acti label{
        color: #009CA8;
        text-align: start;
        display:block;
    }
   //不見了~~
.backGroundCardBlue{
    @include dotbg();
   font-size: 500px;
    width: 1000px;
    height: 560px;
    background-color: #009CA8;
    border-radius: 8px;
    left:300px;
    top:150px;
    position: absolute;
    z-index: 3;
    }
}

