.pinkBtn{
    display: block;
}
.backGroundCard{
    .memlogin_title {
        padding-bottom: 8px;
    }
    .memloginActi{
        max-width: 160px;
        margin:auto;
    }
    .memloginActi label{
        color: $mgreen;
        text-align: start;
        display:block;
    }
   
}