.painting_main {
    width: 95%;
    height: 100vh;
    margin-left: auto;
    display: flex;
    overflow: hidden;

    .title {
        height: 100vh;
    }

    .container {
        width: calc(100% - 64px);
        height: 100vh;
        padding: 1rem 0;
        overflow: hidden;
        position: relative;

        .paintsearchbar {
            text-align: end;
            padding-right: 3rem;
            @include m(){
                padding: 0;
            }
        }

        .paintsearch {
            position: absolute;
            left: 6px;
            top: 50%;
            transform: translateY(-50%);
            background-color: #fff;
            border: none;
            z-index: 2;
            cursor: pointer;
            animation: scrollhint .8s 0s linear infinite alternate;
        }

        .viexport {
            width: 100%;
            height: 100%;
            margin: auto;
            overflow-y: hidden;
            padding-left: 40px;
            position: relative;

            span {
                &:first-child {
                    top: 40%;
                    right: 30%;
                    position: absolute;
                    width: 78px;
                    height: 78px;
                    background: radial-gradient(circle, #4f46e4 10%, transparent 11%);
                    background-size: 1em 1em;
                    background-color: transparent;
                    opacity: 1;
                    z-index: 2;
                    animation: floating 2.5s -0.1s linear infinite alternate;
                }

                &:nth-child(2) {
                    top: 10%;
                    left: 35%;
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    background: radial-gradient(circle, #4f46e4 10%, transparent 11%);
                    background-size: 1em 1em;
                    background-color: transparent;
                    opacity: 1;
                    z-index: 2;
                    animation: floating 1.5s 0s linear infinite alternate;
                }

                @keyframes floating {
                    0% {
                        transform: translateY(0px);
                    }

                    100% {
                        transform: translateY(-8px);
                    }
                }
            }

            .wrap {
                display: flex;
                height: 100%;
                overflow-x: auto;
                scroll-snap-type: x mandatory;
                scroll-behavior: smooth;
                scrollbar-width: 0;

                .col {
                    height: 100%;
                    width: calc(100%/3);
                    flex-shrink: 0;
                    min-width: 250px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    cursor: pointer;
                    &:nth-child(2n) {
                        flex-direction: column-reverse;
                    }

                    &:nth-child(3n+1) {
                        .txtcard {
                            .color {
                                background-color: $mgreen;
                            }
                        }
                    }

                    &:nth-child(3n+2) {
                        .txtcard {
                            .color {
                                background-color: $myellow;
                            }
                        }
                    }

                    &:nth-child(3n+3) {
                        .txtcard {
                            .color {
                                background-color: $mpink;
                            }
                        }
                    }

                    &:hover {
                        .txtcard {
                            .color {
                                transform: scale(1);

                                .txt {
                                    transform: scale(1);
                                }
                            }

                        }

                        .img {
                            img {
                                transform: scale(1.1);
                            }
                        }
                    }

                    .img {
                        height: 40%;
                        border-radius: 10px;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transition: .5s;
                            object-position: top;
                        }
                    }

                    .txtcard {
                        height: 40%;
                        padding: 2rem;

                        .color {
                            width: 100%;
                            height: 100%;
                            border-radius: 10px;
                            text-align: center;
                            padding: 10% 20%;
                            transform: scale(0.8);
                            transition: .3s;

                            .txt {
                                display: inline-block;
                                width: 100%;
                                height: 100%;
                                background-color: #fff;
                                border-radius: 10px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                transform: scale(0);
                                transition: .3s;
                            }
                        }
                    }
                }
            }
        }
    }


}