.shop_Breadcrumbs{
    margin: 2rem 0px;
    line-height: 3rem;
}
.product_info {
    margin: auto;
    width: 85%;
    display: flex;
    .product_image {
        width: 50%;
        margin-bottom: 2rem;
        >img {
            width: 100%;
            border-radius: 8px;
            margin-bottom: 2rem;
        }
        div{
            display: flex;
            p{
                padding-left: 0.5rem;
            }
        }
    }
    .product_txt {
        width: 50%;
        text-align: left;
        margin-left: 100px;
        >span{
            display: block;
            font-size:1.5rem;
            color: $mpink;
        }
        .product_function {
            .product_count {
                padding: 1rem 0;
                span{
                    display: inline-block;
                    width: 50px;
                    text-align: center;
                }
                button{
                    width: 1.5rem;
                    height: 1.5rem;
                    font-size: 1rem;
                    line-height:  1.5rem;
                    border-radius: 4px;
                    border: none;
                    background-color: $mgreen;
                    vertical-align: middle;
                }
                #minus path {
                    fill: #fff
                }
                #plus path {
                    fill: #fff
                }
            }
            >button{
                display: inline-block;
                background-color: $myellow;
                padding: 5px 0.5rem;
                margin-bottom: 1rem;
                border-radius: 4px;
                border: 1px solid $mpink;
                color: $mblue;
            }
        }
    }
}
.product_detail{
    width: 80%;
    margin: auto;
    padding: 2rem 0 3.5rem;
    h2{
        text-align: center;
        padding: 1rem 0;
    }
    p{  
        padding: 2rem;
        border-radius: 8px;
        border: 3px solid $mgreen;
        line-height: 1.5;
    }
}
.recommend{
    h2{
        text-align: center;
    }
    .productwrap {
        width: 100%;
        padding: 0 30px;
      }
}
@include t() {
    @media screen and (max-width:$t) {
        .product_info {
            flex-direction: column;
            .product_image {                
                margin: auto;               
                width: 85%;
            }
            .product_txt {
                width: 85%;
                margin: auto;
                text-align: center;
                span{
                    padding: 0 3rem;
                }
                .product_function{
                    >button{
                    padding: 0.5rem 2rem;
                    }
                }                   
            }
        }
    }
}
@include m() {
    @media screen and (max-width:$m) {

    }
}