.shop_carousel{
    margin: 3% auto;
    width: 65%;
    height: 400px;
    overflow: hidden;
    border-radius: 8px;
    .banner{
        width: 100%;
        height: 100%;
        img{
            min-width:100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.shop_wrap{
    margin: 2rem auto 0px;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .shop_aside{
        width: 10%;
        a:first-child{
            margin-top: 0;
        }
        a{
            margin: 5px 0px;
            width: 100%;
            display: block;
            padding: 10px;
            border: 1px solid $mpink;
            text-align: center;
            border-radius: 8px;
        }
        .shop_filter{
            margin: 5px 0px;
            width: 100%;
            display: block;
            padding: 10px 0px;
            border: 1px solid $mgreen;
            border-radius: 8px;
            color: $mblue;
            option{
                color: $mblue;
                text-align: center;
            }
        }
    }
    .shop_container{
        width: 75%;
        display: grid;
        grid-template-columns:repeat(3,1fr) ;
        grid-template-rows:repeat(3,1fr) ;
        justify-items: center;
        align-items:flex-end;
        gap: 50px;
    }
    .item{
        // position: relative; ??????
        width: 100%;
        text-align: center;
        img{
            height: 240px;
            max-width: 240px;
            border-radius: 8px;
            object-fit: cover;
        }
       .info{
            margin: 10px 0px;
            text-align: center;
            span{
                display: flex;
                justify-content: space-between;
                img{
                    margin: 0px 10px;
                    vertical-align: top;
                    height: 100%;
                }
                img:first-child{
                    max-width: 25px;
                    width: 25x;
                }
                img:nth-child(2){
                    max-width: 28px;
                    width: 28x;
                }
            }
            span:first-child{
                color: $mblue;
            }
            span:nth-child(2){
                color: $mpink;
                display: block;
            }
        } 
    }
}
.shop_block{
    margin: auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    .shop_Breadcrumbs{
        a{
            color: $mblue;
        }
    }
    .search{
        display: flex;
        max-width: 250px;
        width: 100%;
        font-size: 0;
        align-items: center;
        label{
            font-size: 1rem;
        }
        input{
            width: 80%;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            border: 1px solid $mblue;
            border-right:none ;
            font-size: 1rem;
            vertical-align:bottom;
            height: 45px;
            padding: 5px 10px;
            color: $mblue;
            &:focus{
                outline: none;
            }
        }
        button{
            width:20%;
            font-size: 1rem;
            background-color: #fff;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            border: 1px solid $mblue;
            border-left:none ;
            line-height: 33.5px;
            height: 45px;
            cursor: pointer;
        }
        img{
            margin: 0px 10px;
            vertical-align: top;
        }
        img:first-child{
            max-width: 25px;
            width: 25x;
        }
        img:nth-child(2){
            max-width: 28px;
            width: 28x;
        }
    }
}
.page{
    max-width: 1200px;
    margin: auto;
   .pagination{
        width:80%;
        margin-left: auto;
        padding: 1rem 0 4rem;
        text-align: center;
    } 
}
