.shop_carousel{
  width: 100%;
  height: 400px;
  background-color: #ddd;
  overflow: hidden;
  .banner{
    width: 100%;
    height: 100%;
    img{
        min-width:100%;
        height: 100%;
        object-fit: cover;
    }
  }
}
.shop_wrap{
    margin:2rem auto 0px;
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    .shop_aside{
        width: 20%;
        text-align: center;
        margin-right: 24px;
        a{
            display: block;
            padding-top: 1.5rem;
            border-bottom:1px solid red;
        }
        .search{
            margin: auto;
            margin-top: 3rem;
            max-width: 180px;
            width: 100%;
            
            font-size: 0;
            label{
                font-size: 1rem;
            }
            input{
                width: 70%;
                border:none;
                border-right:none ;
                font-size: 1rem;
                vertical-align:bottom;
                height: 35px;
                padding: 5px 10px;
                &:focus{
                    outline: none;
                }
            }
            button{
                width:15%;
                border: none;
                font-size: 1rem;
                background-color: #fff;
                border:none;
                border-left:none ;
                line-height: 33.5px;
                height: 35px;
                cursor: pointer;
            }
        }
    }
    .shop_container{
        width: 75%;
        display: grid;
        grid-template-columns:repeat(3,1fr) ;
        grid-template-rows:repeat(3,1fr) ;
        justify-items: center;
        align-items:flex-end;
        gap: 24px;
    .item{
        position: relative;
        width: 100%;
        text-align: center;
        img{
            height:170px ;
            max-width: 170px;
            object-fit: cover;
        }
       .info{
            text-align: center;
            span{
                display: block;
            }
        } 
    }
    
}
}
.shop_block{
    margin: auto;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    .shop_Breadcrumbs{
        a{
        color: black;
        padding-left: 5px;
        }
    }
}
.page{
    max-width: 1100px;
    margin: auto;
   .pagination{
    width:80%;
    margin-left: auto;
    padding: 1rem 0 4rem;
    text-align: center;
} 
}
