#searchBtn {
    width: 305px;
    height: 44px;
    text-align: right;
    border-radius: 4px;
}
.exhi_section {
    margin: 5% auto;
    width: 85%;
    display: flex;
}
.exhi_img {
    width: 50%;
    margin: 1%;
}
.exhi_img img {
    width: 100%;
    border-radius: 4px;
}
.exhi_desc {
    width: 50%;
    border: 3px dashed #1E5289;
    border-radius: 4px;
    margin: 1%;
    position: relative;
}
.exhi_desc .exhi_desc_bgc {
    width: 50%;
    background-color: #1E5289;
    position: absolute;
}