.visitInformation-main {
    width: 83.33%;
    margin-left: auto;
    position: relative;
    margin-top: 1%;

    @include t() {
        width: 90%;
        margin: auto;
        margin-bottom: 100px;
    }

    //t是平板

}


.visitInformation-title {
    width: 216px;
    height: 90px;
    background-color: $mgreen;
    position: relative;
    border-radius: 5px;
    box-shadow: 10px 10px 0px $myellow;

    @include t() {
        margin-top: 20px;
        box-shadow: none;
        width: 50%;
    }

}


.visitInformation-main h1 {
    margin-top: 0;
    width: 65%;
    text-align: left;
    color: #fff;
    position: absolute;
    @include tc();

    @include t() {
        width: 80%;
        text-align: center;
    }
}


.visitInformation-ulBorder {
    border: 3px solid $mgreen;
    margin-top: 30px;
    padding: 20px;
    padding-right: 40px;
    width: 75%;
    position: relative;
    background-color: #fff;
    border-radius: 5px;

    @include t() {
        margin-top: 20px;
        box-shadow: none;
        width: 100%;
    }
}

.visitInformation-ulBorder::before {
    content: "";
    background:
        //y上面
        radial-gradient(circle at top 5px left 25px, $mgreen 2.5px, transparent 2.5px),
        radial-gradient(circle at top 5px left 35px, $mgreen 2.5px, transparent 2.5px),
        radial-gradient(circle at top 15px left 25px, $mgreen 2.5px, transparent 2.5px),
        radial-gradient(circle at top 15px left 35px, $mgreen 2.5px, transparent 2.5px),
        //中左
        radial-gradient(circle at top 25px left 5px, $mgreen 2.5px, transparent 2.5px),
        radial-gradient(circle at top 25px left 15px, $mgreen 2.5px, transparent 2.5px),
        radial-gradient(circle at top 35px left 5px, $mgreen 2.5px, transparent 2.5px),
        radial-gradient(circle at top 35px left 15px, $mgreen 2.5px, transparent 2.5px),
        //中右
        radial-gradient(circle at top 25px left 45px, $mgreen 2.5px, transparent 2.5px),
        radial-gradient(circle at top 25px left 55px, $mgreen 2.5px, transparent 2.5px),
        radial-gradient(circle at top 35px left 45px, $mgreen 2.5px, transparent 2.5px),
        radial-gradient(circle at top 35px left 55px, $mgreen 2.5px, transparent 2.5px),
        //中左
        radial-gradient(circle at top 45px left 25px, $mgreen 2.5px, transparent 2.5px),
        radial-gradient(circle at top 55px left 35px, $mgreen 2.5px, transparent 2.5px),
        radial-gradient(circle at top 45px left 35px, $mgreen 2.5px, transparent 2.5px),
        radial-gradient(circle at top 55px left 25px, $mgreen 2.5px, transparent 2.5px);
    width: 70px;
    height: 60px;
    position: absolute;
    right: 0%;
    transform: translateX(50%);
    top: -105.06px;

    @include t() {
        display: none;
    }
}



.visitInformation-ulBorder::after {
    @include dotbg();
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 30px;
    bottom: -30px;
    border: 1px solid $mgreen;
    border-radius: 5px;
    z-index: -99;

    @include t() {
        display: none;
    }
}



.visitInformation-nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;


}

.visitInformation-icon {
    width: 13%;
    text-align: center;


}

.visitInformation-nav+.visitInformation-nav {
    margin-top: 10px;
}

.visitInformation-icon img {
    vertical-align: top;
}

.visitInformation-txt {
    width: 87%;
    border-bottom: 2px solid $mgreen;
    height: 51px;
    display: flex;
    align-items: center;


    @include m() {
        margin-left: auto;
        width: 75%;
        height: 90px;
    }

}

.visitInformation-txt::after {
    content: '';
    width: 20.67px;
    height: 20.67px;
    border-radius: 50%;
    background-color: $myellow;
    position: absolute;
    left: 100%;
    bottom: 0;
    transform: translateY(50%);
}


.visitInformation-bg {
    background:
        //y上面
        radial-gradient(circle at top 5px left 15px, $mgreen 2.5px, transparent 2.5px),
        radial-gradient(circle at top 15px left 5px, $mgreen 2.5px, transparent 2.5px),
        radial-gradient(circle at top 15px left 25px, $mgreen 2.5px, transparent 2.5px),
        radial-gradient(circle at top 25px left 15px, $mgreen 2.5px, transparent 2.5px);
    height: 35px;
    width: 35px;
    position: relative;
    top: 100px;
    left: 100px;

    @include t() {
        display: none;
    }
}

footer {
    display: none;

    @include t() {
        display: inline-block;
    }

}