.VisitTraffic {
    width: calc(100% - 70px);
    margin-left: auto;

    @include t() {
        width: 90%;
        margin: auto;
        margin-bottom: 100px;
    }
}

.VisitTraffic-title {
    display: flex;
    align-items: center;
}




.VisitTraffic-h1 {
    width: 216px;
    height: 90px;
    background-color: $mpink;
    margin-bottom: 30px;
    margin-left: 30px;
    border-radius: 5px;
    text-align: center;
    color: #fff;

    @include t() {
        width: 80%;
        text-align: center;
    }
}

.VisitTraffic-add {
    width: 50%;
    margin-left: auto;
    display: flex;
    align-items: center;
}

// 表格
.VisitTraffic-allFrom {
    width: 85%;
    margin: auto;
}

.VisitTraffic-nav {
    display: flex;
    flex-wrap: wrap;
}

#VisitTrafficPublic,
#VisitTrafficCar,
#VisitTrafficPork {
    width: 150px;
    height: 66.35px;
    border-radius: 8px 8px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    border: 2px solid $myellow;
    border-bottom: 0px;
    cursor: pointer;
}

#VisitTrafficCar,
#VisitTrafficPork {
    background-color: #fff;
    border-radius: 8px 8px 0 0;
}

#VisitTrafficPF,
#VisitTrafficCF,
#VisitTrafficPorkF {
    margin-top: 0px;
    background-color: $myellow;
    padding: 20px 40px;
    margin-bottom: 100px;
    border-radius: 0 8px 8px 8px;

}

.VisitTrafficFlex {
    display: flex;
    flex-wrap: wrap;
}

.VisitTrafficPFtext {
    width: 50%;
    box-sizing: border-box;

}

.VisitTrafficPF-p {
    margin-top: 20px;
    width: 85%;
    margin: auto;
    background-color: #fff;
    margin-left: auto;
    padding: 20px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

// 自行開車

.VisitTrafficCFCar-0,
.VisitTrafficCFCar-1,
.VisitTrafficPorkCar-0,
.VisitTrafficPorkCar-1 {
    width: 50%;
    padding: 20px 0;
    box-sizing: border-box;
}

.VisitTrafficCFCarP-0,
.VisitTrafficCFCarP-1,
.VisitTrafficCFCarP-2,
.VisitTrafficPorkCarP-0,
.VisitTrafficPorkCarP-1,
.VisitTrafficPorkCarP-2 {
    margin-top: 20px;
    width: 85%;
    margin: auto;
    background-color: #fff;
    margin-left: auto;
    padding: 20px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.VisitTrafficCFCarP-2,
.VisitTrafficPorkCarP-2 {
    margin: auto;
    width: 92%;
    height: 200px;

}

.VisitTrafficPorkCarP-2 {
    height: 280px;
    margin: auto;
}


// 輪播圖
.VisitTrafficBoard {
    width: 60%;
    margin: auto;
    position: relative;
    padding: 0;
    overflow: hidden;

}

.VisitTrafficcarousel {
    width: 100%;
    padding: 0;
    text-align: center;


}

.VisitTraffic-hidden {
    visibility: hidden;
}

.VisitTrafficPic {
    animation: VisitTrafficCarousel 15s linear infinite;
}


.VisitTrafficImg1 {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    animation-delay: 0s;

}

.VisitTrafficImg2 {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    animation-delay: 5s;
}

.VisitTrafficImg3 {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    animation-delay: 10s;
}

@keyframes VisitTrafficCarousel {
    6.66666% {
        opacity: 1;
        left: 0;
    }

    33.3333% {
        opacity: 1;
        left: 0%;
    }

    39.9999% {
        opacity: 1;
        left: -100%;
    }

    41% {
        opacity: 0;
        left: -100%;
    }

    42% {
        opacity: 0;
        left: 100%;
    }
}