.bg {
    background: linear-gradient(
      90deg,
      #fff 15%,
      $mgreen 15%,
      $mgreen calc(15% + 3px),
      #fff calc(15% + 3px)
    );
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    z-index: -999;
}

.bgcGY{
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(45deg, $mlblue 50%, $myellow 50%);
  position: relative;
  // z-index: -10;
}