header {
    width: 70px;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    padding: 1.25rem 5px 4rem;
    height: 100vh;
    background: linear-gradient(0deg, #fff 0%, $myellow 5%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include t() {
        width: 100%;
        height: 60px;
        flex-direction: row;
        padding: 0.5rem 1rem;
        background: linear-gradient(0deg, #fff 0%, $myellow 0%);
    }

    .menuconsole {
        @include t() {
            display: flex;
            align-items: center;
        }

        .logo {
            display: inline-block;
            width: 100%;
            margin-top: 1rem;
            position: relative;

            @include t() {
                margin: 0 0 0 1rem;
            }

            &::after {
                content: "";
                position: absolute;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                @include tc();
                background-color: #fff;
                z-index: -50;
                transition: .3s;

            }

            img {
                width: 90%;
                object-fit: contain;
                transition: .3s;

                @include t() {
                    width: 50px;
                    height: 100%;
                }
            }
        }

        .logo.togglec {
            &::after {
                width: 0px;
                height: 0px;
            }

            img {
                width: 0px;
            }
        }

        .burger {
            vertical-align: top;
            display: inline-block;
            width: 26px;
            height: 26px;
            padding-top: 13px;
            cursor: pointer;

            &:hover .bar {
                &::after {
                    right: 13px;
                }

                &::before {
                    left: 13px;
                }
            }

            .bar {
                width: 26px;
                height: 3px;
                background-color: $mpink;
                position: relative;
                transition: .3s;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: -8px;
                    right: 0;
                    width: 13px;
                    height: 3px;
                    background-color: $mpink;
                    transition: .3s;
                }

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 8px;
                    left: 0;
                    width: 13px;
                    height: 3px;
                    background-color: $mpink;
                    transition: .3s;
                }

            }

            .bar.active {
                transform: rotate(45deg);
                transition: .3s;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: -8px;
                    right: 13px;
                    width: 13px;
                    height: 3px;
                    background-color: $mpink;
                    transform-origin: left;
                    transform: rotate(-90deg) translate(-6px, 12px);
                    transition: .3s;
                }

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 8px;
                    left: 13px;
                    width: 13px;
                    height: 3px;
                    background-color: $mpink;
                    transform: rotate(90deg) translate(2px, 7.5px);
                    transition: .3s;
                }
            }
        }
    }

    .social {
        span {
            margin-top: 0.5rem;
            text-align: center;
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            padding: 10px 0;
            position: relative;
            cursor: pointer;

            @include t() {
                margin-top: 0;
            }

            &::after {
                content: "";
                position: absolute;
                width: 0px;
                height: 0px;
                border-radius: 50%;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background-color: #fff;
                z-index: -50;
                transition: .3s;

            }

            &:hover::after {
                width: 40px;
                height: 40px;
            }

            .sicon {
                font-size: 20px;
            }

            #social_cart path,
            #social_envelope path,
            #social_facebook path,
            #social_youtub path {
                fill: $mgreen;
            }
        }

    }
}

nav {
    z-index: 29;
    position: fixed;
    left: 0;
    bottom: 0;
    transform: translateX(-100%);
    width: 100vw;
    height: 100vh;
    padding-top: 3%;
    text-align: center;
    transition: .3s;
    background-color: #fff;
    padding-left: 70px;
    @include t() {
        padding-top: 7%;
        padding-left: 0px;
    }

    .logo {
        margin-top: 40px;

        img {
            @include t() {
                width: 30%;
            }
        }

    }

    .login {
        margin: 3rem 0;
        font-size: 1.25rem;

        @include t() {
            margin: 1rem 0;
        }
    }

    .menu {
        >ul {
            margin: auto;
            max-width: 900px;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            @include t(){
                justify-content: flex-start;
            }
            >li {
                line-height: 2;
                @include t(){
                    width: 25%;
                }
                ul {
                    li {
                        line-height: 2;
                    }
                }
            }
        }

    }
}