.fillInClumn{
    width: 165px;
    height: 37px;
    color:#EB5F86;
    margin: 10px 0px;
    padding: 0 10px;
    background-color: #fff;
    border: 3px solid #EB5F86;
    border-radius: 4px;
}

.fillInClumn:focus{
    color:#009CA8;
    background-color: #FBF796;
    outline-color:#FBF796;
    border: 3px solid #FBF796;  
}

.pinkBtn{
    width: 100px;
    height: 37px;
    padding: 5px 10px;
    margin: 5px 0;
    font-size: 16px;
    text-align: center;
    border: 1px solid #EB5F86;
    border-radius: 4px;
    color: #1E5289;
    background-color: #fff;
}

.pinkBtn:hover{
    color: #fff;
    background-color: #EB5F86;
    cursor: pointer;
}

.submitBtn{
    width: 100px;
    height: 37px;
    color: #1E5289;
    margin-top: 50px;
    border:3px solid #EB5F86;
    border-radius: 8px;
    background-color: #FBF796;
}
.submitBtn:hover {
    color: #fff;
    border:3px solid #FBF796;
    background-color: #009CA8;
    cursor: pointer;
}
