@import "@/assets/sass/base/_color.scss";
.fillInClumn{
    width: 165px;
    height: 37px;
    color: $mpink;
    margin: 10px 0px;
    padding: 0 10px;
    background-color: #fff;
    border: 3px solid $mpink;
    border-radius: 4px;
}

.fillInClumn:focus{
    color:$mgreen;
    background-color: $myellow;
    outline-color:$myellow;
    border: 3px solid $myellow;  
}

.pinkBtn{
    width: 95px;
    height: 37px;
    padding: 5px 10px;
    margin: 5px ;
    font-size: 16px;
    text-align: center;
    border: 1px solid $mpink;
    border-radius: 4px;
    color: $mblue;
    background-color: #fff;
}

.pinkBtn:hover{
    color: #fff;
    background-color: $mpink;
    cursor: pointer;
}

.pinkBtnLight{
    width: 95px;
    height: 37px;
    padding: 5px 10px;
    margin: 5px ;
    font-size: 16px;
    text-align: center;
    border: 1px solid $mpink;
    border-radius: 4px;
    color: #fff;
    background-color: $mpink;
}

.submitBtn{
    width: 100px;
    height: 37px;
    color: $mblue;
    margin-top: 10px;
    border:3px solid $mpink;
    border-radius: 8px;
    background-color: $myellow;
}
.submitBtn:hover {
    color: #fff;
    border:3px solid $myellow;
    background-color: $mblue;
    cursor: pointer;
}
