
.backGroundCardbBlue{
    @include dotbg();
    // font-size: 500px;
    width: 1000px;
    height: 560px;
    max-width: 1000px;
    max-height: 560px;
    // background-color: #009CA8;
    border: 3px solid $mgreen;
    border-radius: 8px;
    left:480px;
    top:230px;
    position: absolute;
    }

.backGroundCard{
    width: 1000px;
    height: 560px;
    padding: 50px 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 8px;
    border: 3px solid $mgreen;
    background-color: #fff;
    position:relative;
    }
.cardCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}

@include t() {
        .backGroundCardbBlue{
            display: none;
            }
        
        .backGroundCard{
            width: 350px;
            display: block;
            height: 600px;
            // max-width: 1000px;
            // max-height: 560px;
            padding: 30px 0;
            // margin: 0 auto;
            // text-align: center;
            // border-radius: 8px;
            // border: 3px solid $mgreen;
            // background-color: #fff;
            // position:relative;
            }



    
}