//用到translate置中
//translatecenter
@mixin tc() {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
//雙層框實線
//左下left buttom
@mixin shadowlb($color){
    border: 3px solid $color;
    box-shadow: -8px 8px 0px $color;
    background-color: $color;
}
//右下
@mixin shadowrb($color){
    border: 3px solid $color;
    box-shadow: 8px 8px 0px $color;
    background-color: $color;
}
//雙層框虛線
//左下left buttom
@mixin shadowlb($color){
    border: 3px dashed $color;
    box-shadow: -8px 8px 0px $color;
    background-color: $color;
}
//右下
@mixin shadowrb($color){
    border: 3px dashed $color;
    box-shadow: 8px 8px 0px $color;
    background-color: $color;
}

//綠色點點背景
@mixin dotbg(){
    background: radial-gradient(circle, $mgreen 10%, transparent 11%), radial-gradient(circle at bottom left, $mgreen 5%, transparent 6%), radial-gradient(circle at bottom right, $mgreen 5%, transparent 6%), radial-gradient(circle at top left, $mgreen 5%, transparent 6%), radial-gradient(circle at top right, $mgreen 5%, transparent 6%);
    background-size: 2.5em 2.5em;
    background-color: #ffffff;
    opacity: 1
}




//RWD
@mixin m() {
    @media screen and (max-width:$m) {
        @content;
    }
}


@mixin t() {
    @media screen and (max-width:$t) {
        @content;
    }
}


//客製化斷點
@mixin set($val) {
    @media screen and (max-width:$val) {
        @content;
    }
}

;