//用到translate置中
//translatecenter
@mixin tc() {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

//雙層框實線
//左下left buttom
@mixin shadowlb($color: $mgreen) {
    border: 3px solid $color;
    box-shadow: -8px 8px 0px $color;
}

//右下
@mixin shadowrb($color: $mgreen) {
    border: 3px solid $color;
    box-shadow: 8px 8px 0px $color;
}

//雙層框虛線
//左下left buttom
@mixin dshadowlb($color: $mgreen) {
    border: 3px dashed $color;
    box-shadow: -8px 8px 0px $color;
}

//右下
@mixin dshadowrb($color: $mgreen) {
    border: 3px dashed $color;
    box-shadow: 8px 8px 0px $color;
}

//綠色點點背景
@mixin dotbg($color: $mgreen) {
    background: radial-gradient(circle, $color 15%, transparent 11%), radial-gradient(circle at bottom left, $color 15%, transparent 6%), radial-gradient(circle at bottom right, $color 15%, transparent 6%), radial-gradient(circle at top left, $color 15%, transparent 6%), radial-gradient(circle at top right, $color 15%, transparent 6%);
    background-size: 2.5em 2.5em;
    background-color: #ffffff;
    opacity: 1
}
//綠色點點背景框框
@mixin dotfm(){
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 24px;
      right: -24px;
      height: 100%;
      width: 100%;
      border: 3px solid $mgreen;
      border-radius: 10px;
      @include dotbg();
      z-index: -5;
    }
}
//title
@mixin title($color: $mpink){
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 20px;
    box-shadow: 8px 8px 0px $color;
    text-align: center;
}

//RWD
@mixin m() {
    @media screen and (max-width:$m) {
        @content;
    }
}


@mixin t() {
    @media screen and (max-width:$t) {
        @content;
    }
}


//客製化斷點
@mixin set($val) {
    @media screen and (max-width:$val) {
        @content;
    }
}

;